<button class="btn btn-outline-primary btn-sm float-right" (click)="createAccount()">{{'accounts-list.createAccount' | translate}}</button>
<div *ngIf="resultPage">
  <table class="table">
    <thead>
    <tr>
      <th>{{'accounts-list.accountNumber' | translate}}</th>
      <th>{{'accounts-list.balance' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of resultPage.data">
      <td>{{account.number}}</td>
      <td>{{account.balance}}</td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-sm btn-outline-primary" (click)="previous()" *ngIf="resultPage.pageNumber !== 0">{{'accounts-list.previous' | translate}}</button>
  <button class="btn btn-sm btn-outline-primary float-right" (click)="next()" *ngIf="resultPage.pageNumber < resultPage.totalPages - 1">{{'accounts-list.next' | translate}}</button>
</div>
