<div class="form-disposition">
  <h1 class="text-center">{{'disposition.title' | translate}}</h1>
  <div class="form-group">
    <label for="accountNumber">{{'disposition.accountNumber' | translate}}</label>
    <input id="accountNumber" class="form-control" [(ngModel)]="disposition.accountNumber">
  </div>
  <div class="form-group">
    <label for="funds">{{'disposition.funds' | translate}}</label>
    <input id="funds" class="form-control" [(ngModel)]="disposition.funds">
  </div>
  <div class="form-group">
    <label>{{'disposition.operationType' | translate}}</label>
    <select name="operationName" class="form-control" [(ngModel)]="disposition.operationName">
      <option [value]="'deposit'">{{'disposition.deposit' | translate}}</option>
      <option [value]="'withdraw'">{{'disposition.withdraw' | translate}}</option>
    </select>
  </div>
  <button type="button" class="btn btn-danger" (click)="showAccounts()">{{'disposition.cancel' | translate}}</button>
  <button type="button" class="btn btn-primary" (click)="confirm()">{{'disposition.confirm' | translate}}</button>
</div>
